html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: lightgrey;
  font-family: 'Montserrat', sans-serif;
}
.search-header {
  text-align: center;
  font-size: 42px;
}
#search-input {
  display: block;
  width: 500px;
  margin: 0px auto 20px;
}
.country__img--min {
  display: inline-block;
  margin-left: 20px;
  vertical-align: center;
}
.country__header--min {
  display: inline-block;
}
.countries-list--big {
  margin: 0 auto;
  max-width: 1200px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country {
  font-size: 32px;
}
.country:not(:nth-last-child()) {
  margin-right: 100px;
}
.country__header {
  font-size: 32px;
}
.country__header--big {
  text-align: center;
}
.country__body {
  display: flex;
  justify-content: space-between;
}
.country__descpriprtion {
  margin-right: 28px;
}
.description__header {
  font-weight: 800;
}
